body {
  background-image: linear-gradient(to right, #f9bebd 50%, #cbeae5 50%);
}

.App {
  text-align: center;
  font-size: 35px;
  margin-top: 20%;
}

.App-title {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.8);
}
.btn-common {
  background: #993955;
  border-color: #993955;
  color: white;
}
.Clock-days,
.Clock-hours,
.Clock-minutes,
.Clock-seconds {
  display: inline;
  margin: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.Deadline-input {
  font-size: 25px;
  margin: 5px;
}
